<?xml version="1.0"?>
<launch>
<group ns="drone01">
  <include file="$(find hector_quadrotor_gazebo)/launch/spawn_quadrotor.launch">
  <arg name="name" default="drone01"/>
  <arg name="tf_prefix" value="drone01"/>
  <arg name="model" default="$(find hector_quadrotor_description)/urdf/quadrotor_downward_cam.gazebo.xacro"/>
  <!-- <arg name="x" default="13.0"/>
  <arg name="y" default="13.0"/> 
  <arg name="z" default="0.2"/> -->
  <arg name="x" default="5.0"/>
  <arg name="y" default="12.0"/> 
  <arg name="z" default="0.3"/>
  </include>
  </group>
</launch>