<launch>
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find multi_robot)/worlds/original.world"/>
  </include>

  <group ns ="tb3">
    <include file="$(find turtlebot3_gazebo)/launch/turtlebot3_empty_world.launch">
      <arg name="model" value="waffle_pi" />
    </include>
  </group>

  <group ns="drone">
    <include file="$(find hector_quadrotor_gazebo)/launch/spawn_quadrotor.launch">
      <arg name="name" value="drone" />
      <arg name="tf_prefix" value= "drone" />
      <arg name="y" value="-1.0" />
    </include>
  </group>

</launch>
